INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/libgstkenburns.la
src/libgstkenburns_la-gstkenburns.lo
stamp-h1
